}
	#app-mount .typeWindows-2-g3UY:after {
		content: "GGO Kirito v1.2.4 By VaporousCreeper";
		color: rgb(255,255,255,0.5);
		font-weight: 500;

		position: absolute;
		top: 8px;
		left: 43.2%;
	}
